@inherits LayoutComponentBase

<MudThemeProvider Theme="MyCustomTheme"/>
@code{
    MudTheme MyCustomTheme = new MudTheme()
    {
        PaletteLight = new PaletteLight()
        {
            Primary = Colors.Blue.Default,
            Secondary = Colors.Teal.Accent4,
            AppbarBackground = Colors.Green.Default,
        },
        PaletteDark = new PaletteDark()
        {
            Primary = Colors.Blue.Lighten1
        },

        LayoutProperties = new LayoutProperties()
        {
            DrawerWidthLeft = "260px",
            DrawerWidthRight = "300px"
        }
    };
}
<MudPopoverProvider />


<MudLayout>
    <NavMenu />
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    bool _drawerOpen = false;
    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}